* {
  margin: 0;
  padding: 0;
}

:root {
	font-size: 62.5%;
	--font-size--small: 1rem;
	--font-size--med: 1.4rem;
	--font-size--large: 1.6rem;
	--font-size--x-large: 2.4rem;
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #bc4540;
  --success-color: #28a745;
}

.navbar {
  background-color: var(--primary-color);
  color: var(--light-color);
  font-size: var(--font-size--large);
  height: 6vh;
}

.card {
	width: 20vw;
	min-width: 30px;
	height: 30vw;
	min-height: 45px;
	border: 1px solid var(--dark-color);
	border-radius: 10px;
	padding: 3px;
	margin: 6px;
}

.flex-around {
	justify-content: space-around;
}

.flex-between {
	justify-content: space-between;
}

.flex-vcenter {
	align-items: center;
}


